<!DOCTYPE html>
<html>
  <head>

    <link href= "/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <title>Playlist</title>
  </head>
  <body>
    <img src="http://www.clker.com/cliparts/k/3/o/T/P/O/music-notes-wind-hi.png"></img>
    <form method="post" action ="/">
         <p><strong>Add a song:</strong></p>
         <p>Song name: <input type="text" name="songName"/></p>
         <p>Artist: <input type="text" name="artist"/></p>
         <p><input type="submit" value="Add"></p>
     </form>

  </body>
</html>
